@import url("https://fonts.googleapis.com/css?family=Lato|Poller+One&display=swap");

img {
  align-self: center;
}




@font-face {
  font-family: "SF Distant Galaxy";
  src: url("SFDistantGalaxy.ttf") format("truetype");
}


/* phone */
body {
  background-color: rgb(5,14,28);
}



h1 {
  font-family: "SF Distant Galaxy";
}

.txt {
  display: flex;
  flex-direction: column;
}



/* computer */
@media screen and (min-width: 600px) {



.title { 
  display: flex;
  justify-content: center;
  color: yellow

}
.nav {
  display: flex;
  justify-content: space-around;
  color: yellow;
  
  
  

}
 
.txt {
  display: flex;
  align-items: center;
  flex-direction: row;
}
}